:root {
    --red: red;
    --yellow: rgb(255, 255, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}

*::before,
*::after {
    font-family: 'Nerko One', cursive;
    box-sizing: inherit;
}

body {
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-03/1614626831_3-p-fon-kosmosa-dlya-fotoshopa-5.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 65vh;
    display: block;
    width: 100vw;
    height: 100vw;
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-03/1614547191_24-p-luna-na-belom-fone-32.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    animation: moon 90s linear infinite;
}

body.noneMoon::before {
    opacity: 0;
}

body.changeBackground {
    background-image: url('https://gamerwall.pro/uploads/posts/2022-02/1645518343_16-gamerwall-pro-p-kosmos-v-fioletovikh-tonakh-krasivo-oboi-16.jpg');
}

body::after {
    content: 'somewhere in space';
    position: absolute;
    inset: 0;
    display: block;
    color: #fff;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: startScreen 5s linear 1;
}

.meteorites {
    width: 200vw;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -170vh;
    right: -220vh;
    opacity: 0;
}

.meteorites.active {
    opacity: 1;
    animation: meteorits 11s linear 1;
}

.meteorite {
    background-image: url('img/meteor.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    margin-right: 50px;
}

.ilya-rocket {
    height: 100vh;
    display: flex;
    align-items: center;
}

.ilya-rocket-box {
    width: 200px;
    display: flex;
    animation: fly 13s ease-out infinite;
    animation-delay: 2s;
}

.ilya-rocket-box__item {
    width: 50px;
    height: 50px;
    background-color: var(--red);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__item:nth-child(1) {
    width: 0;
    height: 0;
    border-bottom: 20px solid var(--red);
    border-right: 20px solid transparent;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box__item:nth-child(2) {
    width: 0;
    height: 0;
    border-top: 20px solid var(--red);
    border-right: 20px solid transparent;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ilya-rocket-box__item.oval {
    width: calc(100% - (20px + 30px));
    height: 75px;
    border-radius: 100px / 50px;
    background: rgb(255, 0, 0) linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(244,255,0,1) 100%);
    position: relative;
}

.ilya-rocket-box__item.oval>.speech {
    position: absolute;
    right: -15px;
    top: -57px;
	width: 100px;
	height: 50px;
    font-size: 14px;
    color: #000;
	border: 4px solid #000;
    background-color: #fff;
	border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: message 7s linear 1;
    animation-delay: 18s;
}

.ilya-rocket-box__item.oval>.speech::before {
    content: ''; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 20px; 
	top: 46px; 
	border: 13px solid; 
	border-color: #000 transparent transparent #000;
    opacity: 0;
    animation: inherit;
    animation-delay: 17s;
}

.ilya-rocket-box__item.oval>.speech::after {
    content: ''; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 24px;
    top: 41px;
    border: 10px solid;
	border-color: #fff transparent transparent #fff;
    opacity: 0;
    animation: inherit;
    animation-delay: 17s;
}

.ilya-rocket-box__item.oval::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: aqua;
    background-image: url('https://avatars.mds.yandex.net/i?id=02b863633661a1ed265553b2fa88ab07-5855963-images-thumbs&ref=rim&n=33&w=225&h=225');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 11% auto;
}

.ilya-rocket-box__item.oval::before {
    content: '';
    display: block;
    position: absolute;
    top: calc((75px - 30px) / 2);
    right: -22px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
	border-left: 30px solid #f4ff00;
	border-bottom: 15px solid transparent;
    z-index: -1;
}

.second-screen {
    position: absolute;
    inset: 0;
    color: #fff;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: secondScreen 5s linear 1;
    animation-delay: 12s;
    z-index: 1000;
}

.fin {
    position: absolute;
    inset: 0;
    color: #fff;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fin 5s linear 1;
    animation-delay: 23s;
    z-index: 1000;
}

.fin.active {
    opacity: 1;
    background-color: black;
}



@keyframes startScreen {
    0% {
        background-color: black;
        opacity: 1;
    }

    50% {
        background-color: black;
        opacity: 1;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

@keyframes secondScreen {
    0% {
        background-color: transparent;
        opacity: 0;
    }

    35% {
        background-color: black;
        opacity: 1;
    }

    75% {
        background-color: black;
        opacity: 1;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

@keyframes fin {
    0% {
        background-color: transparent;
        opacity: 0;
    }

    35% {
        background-color: black;
        opacity: 1;
    }

    75% {
        background-color: black;
        opacity: 1;
    }

    100% {
        background-color: black;
        opacity: 1;
    }
}

@keyframes fly {
    0% {
        transform: translateX(-30vw);
    }

    100% {
        transform: translateX(110vw);
    }
}

@keyframes message {
    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes meteorits {
    100% {
        transform: translate(-200vh, 200vh);
    }
}

@keyframes moon {
    100% {
        transform: rotate(360deg);
    }
}